/* /////////// FILTERS - START /////////// */
.filters__wrapper {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    background: url(../img/patho-header.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    
    .filters__container {
        position: relative;
        display: flex;
        padding: 20px 0 30px 0;
        width: 50%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        @include shadow(1);

        input[type=text] {
            width: 400px;
            height: 2rem;
            margin: 10px auto;

            background-color: #ddd;
            border-radius: 1rem;
        }

        .filter {
            padding-top: 2px;
            width: 400px;

            a {
                color: inherit;
            }

            fieldset {
                position: relative;
                width: 100%;
                height: 2rem;
                padding: 2px;
                overflow: hidden;
                border-radius: 4px;
                border: none;

                @include shadow(1);

                input[type=checkbox], input[type=radio] {
                    display: inline-block;
                    margin-right: 10px;
                    width: auto;
                    height: auto;
                }

                .filter__row:first-of-type {
                    padding-top: 2rem;
                }
            }

            legend {
                display: block;
                position: absolute;
                width: 100%;
                font-size: 1rem;
            }

            .filter__toggle:after {
                content: '';
                position: absolute;
                top: 10px;
                right: 4px;
                width: 0;
                height: 0;
                
                border-left: .6rem solid transparent;
                border-right: .6rem solid transparent;
                border-top: .8rem solid $mainColor;
                border-bottom: 0;

                transition: .3s;
            }


            &.active {
                fieldset {
                    height: auto;
                }

                .filter__toggle:after {
                    @include rotate(180deg);
                }
            }
        }

        button[type=submit] {
            position: absolute;
            bottom: 0;
            left: 20px;
        }
    }
}
/* /////////// FILTERS - END /////////// */

