/* /////////// FILTERS - START /////////// */
.filters__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .filters__container {
        
        display: flex;
        width: 50%;
        background-color: #CACACA;
        flex-direction: column;
        align-items: center;
    
        .type_patho__container, .meridien__container, .caracteristiques__container {
            display: flex;
            flex-direction: column;
            width: 80%;
            @include shadow(1);
            margin-top: 10px;
            border-radius: 3px;
            overflow: hidden;
            
            .title__container {
                display:flex;
                height: 40px;
                background-color: #fefefe;
                width: 100%;
                margin : auto;

                transition: background-color 0.3s;
                
                .title {
                    flex: 2;
                    align-self: center;
                    margin-left: 10px;
                    color: #cacaca;
                }
                
                .drop_select {
                    display: inherit;
                    width : 40px;
                    background-color: #1c9898;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    color: white;
                    
                    i {
                        transition-duration: .3s;
                    }
                }
                
                &.active {
                    background-color: #07a0a3;
                    color: white;
                    .drop i {
                    transform: rotate(180deg);
                    }  
                }
            }
            
            .multiselect {
                display: none;
                position: absolute;
                height: auto;
                width: 40%;
                outline:none;

                -webkit-appearance: none; // For Safari
                font-size: 0.9rem;
                
                &:focus {
                    outline-style: none;
                }
                
                .option_item {
                    padding: 10px;
                    color: #606060;
                }
            }
        }
    }
}
/* /////////// FILTERS - END /////////// */

