@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

.team-members-container {
    background-color: #f7f7f7;
    padding: 30px;
    
    .team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
        .team-member {
            display: inherit;
            flex-direction: column;
            width: 30%;
            align-items: center;
            margin-bottom: 50px;
            
            .member-image {
                width: 250px;
                height: 250px;
                border-radius: 50%;
                border: 10px solid white;
            }
            
            h4, p, ul {
                padding: 0;
                margin: 0;
            }
            
            h4 {
                margin-top: 20px;
                font-size: 1.5em;
            }
            
            ul {
                list-style: none;
            }
            
            .member-social {
              display: flex;
              justify-content: center;
              margin-top: 10px;
              font-family: 'Roboto', sans-serif;
              
              .icon {
                  margin : 10px;
                  padding: 5px;
                  background-color: $mainColor;
                  border-radius: 50%;
              }
              
              .icon:hover {
                  background-color: lighten($mainColor, 10%);
              }
              
              a{
                  color: white;
              }
            }
        }
    }
}





