
/* /////////// CATEGORIES Container & Header- START /////////// */
.categories__container {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
    background-color: #f2f2f2;
    align-items: center;
    padding: 10px;
    
    .category__container {
        display: flex;
        flex-direction: column;
        width: 50%;
        @include shadow(1);
        margin-top: 10px;
        border-radius: 3px;
        overflow: hidden;
        
        .category_title__container {
            display:flex;
            height: 40px;
            background-color: #fefefe;
            width: 100%;
            margin : auto;

            transition: background-color 0.3s;
            
            .category__title {
                flex: 2;
                align-self: center;
                margin-left: 10px;
                color:darken($mainColor, 1%);
            }

            .drop {
                display: inherit;
                width : 40px;
                background-color: #1c9898;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: white;
                
                i {
                  transition-duration: .3s;
                }
            }
            
            &.active {
                background-color: #07a0a3;
               
                .drop i {
                  transform: rotate(180deg);
                }  
                
                .category__title {
                     color: white;
                }
            }
         }
    }
}

/* /////////// CATEGORIES Container & Header - START /////////// */

/* /////////// PATHOLOGY Container & Header- END /////////// */

.pathologies__container {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
    background-color: #f2f2f2;
    
    .pathology_title__container {
        display:flex;
        height: 40px;
        background-color: #fefefe;
        width: 100%;
        margin : auto;
        border-bottom: 1px solid #dadada;
        
        .pathology__title {
            flex: 2;
            align-self: center;
            margin-left: 30px;
            color: #616363;
            transition: font-weight .3s;
        }

        .info {
            display: inherit;
            width : 40px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color : #1c9898;
            font-size: 1.2em;
        }
        
        &.active {
            background-color: #fbfbfb;
            border-bottom: none;
            .pathology__title {
                font-weight: 500;
            }
            .info {
                color: #9eaaaa;
            }
        }
    }
}
/* /////////// PATHOLOGY Container & Header - END /////////// */

/* /////////// PATHOLOGY Info - START /////////// */
.pathology_info__container {
  display: flex;
  border-bottom: 1px solid #dadada;
  background-color: white;
  
    /* Meridien - START */
    .pathology_meridien__wrapper {
        display: inherit;
        flex-direction:column;
        flex: 1;
        min-height: 150px;
        
        .pathology_meridien_container {
            display: inherit;
            flex-direction: column;
            margin: 10px;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #dadada;
            min-height: 150px;
            
            .pathology_meridien_title {
                flex: 1;
                text-align: center;
                color: #bababa;
            }
            
            .pathology_meridien_name {
                display: inherit;
                flex: 2;
                align-items: center;
                text-align: center;
            }
            
            .pathology_meridien_element {
                display: inherit;
                flex: 2;
                align-items: center;
            }
        }
    }
    /* Meridien - END */
    
    /* SYMPTOMS - START */
    .pathology_symptoms__wrapper {
        display: inherit;
        flex-direction:column;
        height: 100%;
        flex: 3;
        
        .pathology_symptoms_container {
            display: inherit;
            flex-direction: column;
            margin: 10px;
            height: auto;
            
            .pathology_symptoms_title {
                color: #bababa;
            }
            
            .pathology_symptoms_list {
                margin-top: 10px;
            }

            .pathology_symptoms_list > li {
                list-style-type: none;
            }
        }
    }
    /* SYMPTOMS - END */   
}
    

@media only screen and (max-width: 1000px) {
    .category__container {
        width: 80% !important;
    }
}

@media only screen and (max-width: 600px) {
    .category__container {
        width: 100% !important;
    }
}
/* /////////// PATHOLOGY Info - END /////////// */